svg {
    width: 480px;
    height: 480px;
}
#court {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#filters {
    position: relative;
}
#form {
    position: relative;
}
div.tooltip {
    position: relative;
    text-align: center;
    width: 200px;
    height: 42px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    pointer-events: none;
}

